<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.imagineer.nwrq">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OkHttpActivity"
            android:label="@string/ok_http"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HttpURLConnectionActivity"
            android:label="@string/http_url_connection"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".VolleyActivity"
            android:label="@string/volley"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SpringRestTemplateActivity"
            android:label="@string/spring_rest_template"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RetrofitActivity"
            android:label="@string/retrofit"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FeignActivity"
            android:label="@string/feign"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ApacheHttpClientActivity"
            android:label="@string/apache_http_client"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".IonActivity"
            android:label="@string/ion"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FuelActivity"
            android:label="@string/fuel"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>